/*!
Theme Name: Tandem Legends
Theme URI: https://heiserj.com
Author: Joe Heiser
Author URI: https://heiserj.com
Description: Custom theme for Tandem Legends
Version: 1.0.0
Tested up to: 5.4
Requires PHP: 5.6
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: tandem-legends
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned.

Tandem Legends is based on Underscores https://underscores.me/, (C) 2012-2020 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Generic
	- Normalize
	- Box sizing
# Base
	- Typography
	- Elements
	- Links
	- Forms
## Layouts
# Components
	- Navigation
	- Posts and pages
	- Comments
	- Widgets
	- Media
	- Captions
	- Galleries
# plugins
	- Jetpack infinite scroll
# Utilities
	- Accessibility
	- Alignments

--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Generic
--------------------------------------------------------------*/


:root{
    --primary-color: #002900;
    --secondary-color: #23582c;
    --dark-color: #002900;
    --main-bg-gradient: linear-gradient(160deg, #11961c 0%, #065500 90%);
    --alt-bg-gradient: linear-gradient(160deg, #161616 0%, #2c2c2c 64%);
    --heading-fonts: 'Sanchez', serif;
    --article-fonts: 'Raleway', sans-serif;
    --timeline-color: #daa520;
    --hover-color: #13a0b386;
}

* {
    box-sizing: border-box;
}

hr{
    color: goldenrod;
}

.logged-in > .site > header > .fixed-top{
    top: 32px;
}

/* Small menu. */
.menu-toggle{
    margin: .2rem;
    height: 55px;
    padding: 0;
    width: 55px;
    background-color: var(--primary-color);
    border: 2px solid var(--timeline-color);
    border-radius: 4px;
}

.bar-container{
    width: 100%;
    height: 100%;
    position: relative;
}

.bar1, .bar2, .bar3, .bar4, .bar5, .bar6 {
    width: 30px;
    height: 2px;
    background-color: var(--timeline-color);
    margin: 5.5px 0;
    transition: 0.2s;
    position: absolute;
  }

.bar1{
    top: 8px;
    left: 11px;
    width: 30px;
}

.bar2{
    top: 20px;
    left: 11px;
    width: 30px;
}

.bar3{
    bottom: 8px;
    left: 11px;
    width: 30px;
}


.bar4{
    opacity: 0;
    top: 19px;
    left: 18px;
    width: 15px;
}

.bar5{
    opacity: 0;
    top: 25.5px;
    left: 16px;
    width: 14px;
    transform: rotate(60deg);   
}

.bar6{
    opacity: 0;
    top: 25.5px;
    right: 16px;
    width: 14px;
    transform: rotate(-60deg);
}

.menu-toggle .bar-container{
    transition: .2s;
    transform: rotate(-180deg);
}

.toggled .menu-toggle .bar-container{
    transform: rotate(0deg);
}

.toggled .bar1 {
    transform: translate(-14.8px, -2px) rotate(-60deg);
    transform-origin: 100% 50%;
    border-radius: 2px;
    transition: 0.2s;
  }
  
.toggled .bar2 {
    transform: translate(14.7px, -13.2px) rotate(60deg);
    transform-origin: 0% 50%;
    border-radius: 2px;
    transition: 0.2s;
  }

  .toggled .bar3 {
    transform: translate(-0.5px, 2px);
    border-radius: 2px;
    transition: 0.2s;
  }

.toggled .bar4, .toggled .bar5, .toggled .bar6 {
      opacity: 1;
      transition: 0.3s;
  }



.menu-toggle,
.main-navigation.toggled ul {
    display: block;
    text-align: center;
}

.main-navigation{
    text-align: right;
    background-color: var(--dark-color);
}

.main-navigation ul{
    display: none;
}



@media screen and (min-width: 37.5em) {

	.menu-toggle {
        display: none;

	}

	.main-navigation ul {
		display: flex;
	}
}


.comment-navigation .nav-links,
.posts-navigation .nav-links,
.post-navigation .nav-links {
	display: flex;
}

.comment-navigation .nav-previous,
.posts-navigation .nav-previous,
.post-navigation .nav-previous {
	flex: 1 0 50%;
}

.comment-navigation .nav-next,
.posts-navigation .nav-next,
.post-navigation .nav-next {
	text-align: end;
	flex: 1 0 50%;
}


/* Typography */
/*--------------------------------------------- */

h1, h2, h3{
    font-family: var(--heading-fonts);
    color: white;
}

h3{
    color: rgba(255, 255, 255);
}

a, p, span, button, li{
    font-family: var(--article-fonts);
    color: white;
}

a{
    text-decoration: none;
}

a:hover{
   
    color: white;
}

@font-face {
    font-family: 'Hylia Serif Beta';
    src: url('/assets/HyliaSerifBeta-Regular.eot');
    src: url('/assets/HyliaSerifBeta-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/HyliaSerifBeta-Regular.woff2') format('woff2'),
        url('/assets/HyliaSerifBeta-Regular.woff') format('woff'),
        url('/styles//HyliaSerifBeta-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Posts and pages
--------------------------------------------- */
.sticky {
	display: block;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

/* Comments
--------------------------------------------- */
.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

/* Widgets
--------------------------------------------- */


.widget{
    padding: 0;
    margin: 0 0 1rem;
    width: 100%;
}

.widget select {
	max-width: 100%;
}

.widget img{
    width: 100%;
    height: auto;
}


#ctf{
    padding: 1rem 1rem 1rem .5rem;
    font-size: 1.2rem;
}

#ctf a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.widget-area section{
    border: none;
}

#ctf.ctf-narrow .ctf-quoted-tweet, #ctf.ctf-narrow .ctf-tweet-actions, #ctf.ctf-narrow .ctf-tweet-content{
    margin-left: 50px;
}

#ctf .ctf-tweet-actions, #ctf .ctf-tweet-content {
    margin-left: 60px;
}

.ctf-header-user .ctf-header-name{
    color: black;
}

#ctf .ctf-author-box-link{
    line-height: normal !important;
}

#ctf.ctf-narrow .ctf-author-avatar, #ctf.ctf-narrow .ctf-author-avatar img{
    width: 50px;
    height: 50px;
}

#ctf .ctf-action-count{
    margin-top: 0;
}



/* Media
--------------------------------------------- */
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/* Captions
--------------------------------------------- */
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

/* Galleries
--------------------------------------------- */
.gallery {
	margin-bottom: 1.5em;
	display: grid;
	grid-gap: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	width: 100%;
}

.gallery-columns-2 {
	grid-template-columns: repeat(2, 1fr);
}

.gallery-columns-3 {
	grid-template-columns: repeat(3, 1fr);
}

.gallery-columns-4 {
	grid-template-columns: repeat(4, 1fr);
}

.gallery-columns-5 {
	grid-template-columns: repeat(5, 1fr);
}

.gallery-columns-6 {
	grid-template-columns: repeat(6, 1fr);
}

.gallery-columns-7 {
	grid-template-columns: repeat(7, 1fr);
}

.gallery-columns-8 {
	grid-template-columns: repeat(8, 1fr);
}

.gallery-columns-9 {
	grid-template-columns: repeat(9, 1fr);
}

.gallery-caption {
	display: block;
}

/*--------------------------------------------------------------
# Plugins
--------------------------------------------------------------*/

/* Jetpack infinite scroll
--------------------------------------------- */

/* Hide the Posts Navigation and the Footer when Infinite Scroll is in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
	display: none;
}

/* Re-display the Theme Footer when Infinite Scroll has reached its end. */
.infinity-end.neverending .site-footer {
	display: block;
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

/* Accessibility
--------------------------------------------- */

/* Text meant only for screen readers. */
.screen-reader-text {
	border: 0;
	clip: rect(1px, 1px, 1px, 1px);
	clip-path: inset(50%);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute !important;
	width: 1px;
	word-wrap: normal !important;
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	color: #21759b;
	display: block;
	font-size: 0.875rem;
	font-weight: 700;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
}

/* Do not show the outline on the skip link target. */
#primary[tabindex="-1"]:focus {
	outline: 0;
}


/* Main Styles */

body{
    margin: 0 auto;
    background-image: url('/wp-content/themes/tandem-legends/assets/images/green-texture.png');
    height: 100%;
    width: 100%;
}

section{
    margin: 0;
    padding: 2rem 15vw;
    border-bottom: 1px solid goldenrod;
}

main section:nth-of-type(even){
    background-color: var(--primary-color);
}

main section:nth-of-type(odd){
    background-color: var(--dark-color);
}

/* 
.stack:nth-of-type(2n+1){
    background-color: var(--bg-color-light);
    color: white;
}

.stack:nth-of-type(4n+1){
    background-color: var(--bg-color-dark);
    color: white;
}

.stack:nth-of-type(2){
    background-color: whitesmoke;
    color: var(--dark-font);
} */

#primary{
    width: 1200px;
}

#secondary{
    margin-top: 73.25px;
    margin-left: 1rem;
    width: 400px;
    flex-shrink: 0;
}

#container{
    display: flex;
    justify-content: center;
    padding: 0 2rem 2rem;
    
}

/* Nav Bar */
nav{
    background-color: var(--secondary-color);
    border-bottom: 1px solid goldenrod;
    font-size: 1.2rem;
    align-items: center;
    justify-content: space-between;
}




.menu{
    margin: 0;
    padding: 0;
    list-style: none;
}
.menu .menu-item a{
    display: inline-block;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
}


.main-navigation .menu-item:hover{
    background-color:  rgb(38, 89, 122);
}

.link-menu{
    list-style: none;
    margin: 0;
    padding: 0;
    height: 54px;
    text-align: center;
}

.link-menu a{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: .5rem;
}

.link-menu a:hover{
    background-color:  rgb(38, 89, 122);

}

.link-menu img{
    height: 65%; 
    width: auto;

}

/* banner */

.banner{
    display: flex;
    background-color: var(--primary-color);
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.logo-container{
    width: 60vw;
}

.logo{
    width: 100%;
}

.logo-small{
    display: none;
}


.subscribe-here-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    padding: 0;
    width: 30vw;
}

.subscribe-here-platform{
    transition: transform 0.2s ease-in-out, opacity 0.2s ease-in-out, background-color 0.2s ease-in-out;
    background-color: var(--secondary-color);
    margin: 0.25rem auto;
    width: 100%;
}

.subscribe-here-platform a{
    display: block;
    max-width: 100%;
    height: 100%;
    text-align: left;
    padding: 1rem;
}

.subscribe-here-platform:hover{
    transform: scale(1.02);
    opacity: 0.9;
    background-color: rgb(38, 89, 122);
}

.subscribe-here-platform img{
    max-width: 100%;
}

/* Home Page */

body .home{
    margin: 0;
}

.section-title{
    font-size: 2.5rem;
    margin: 0;
    padding: 0;
    text-align: center;
}



/* main */

/* hero */

#hero-section{
    padding: 0;
}

#hero-section .post{ 
    margin: 0;
    padding: 0;
}

#hero-section .post header{ 
    margin-top: 2rem;
}


/* #hero-section .container{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    height: 100%;
} */

.hero-image{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    width: 100%;
    height: auto;
    place-self: center;
}

.episode-title{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1.5rem;
    padding: 0 1rem;
}

.episode-title h2{
    margin: 0;
}

.episode-desc{
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    font-size: 1.25rem;
    margin: 0;
    padding: 1rem 0 1rem 0;
}

#hero-section .player_container{
    display: block;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
    width: 100%;
    place-self: center;
}

/* ==== Call to Action ==== */

#overview-section{
    background-image: url('/wp-content/themes/tandem-legends/assets/images/triforce-splat.png');
    background-position: center;
    border-bottom: 1px solid goldenrod;
    text-align: center; 
}

#overview-section p{
    text-align: center;
    font-size: 1.75rem;
    font-family: var(--heading-fonts);
    line-height: 1.75;
}


/* ==== Episode Jump ==== */

#episode-jump-section .container{
    padding: 0 0 1.25rem;
}

.carousel{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 1200px;
}

.carousel li{
    height: 230px;
    width: 230px;  
    padding: 0.5rem;
    margin: 0.5rem;
}

.carousel li a{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(17, 112, 57, 0.76);
    transition: transform 0.2s ease-in-out, background-color 0.2s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.carousel .category-image{
    width: 95%;
}


.carousel li a:hover{
    transform: scale(1.02);
    background-color: rgb(38, 89, 122);
} 


.carousel li span{
    opacity: 0;
    position: absolute;
    bottom: 0;
    transition: opacity 0.1s ease-in-out;
    background-color: rgba(128, 128, 128, 0.301);
    width: 100%;
    text-align: center;
}

.carousel li a:hover > span{
    opacity: 1;
}

/*  */

#filler{
    padding: 0;
    margin: 0;
}


#filler .container{
    background-color: var(--primary-color);
    background-image: url('/wp-content/themes/tandem-legends/assets/images/botw-map.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 200px;
    width: 100%;
    box-shadow: inset 50vw 50vw rgba(0, 27, 0, 0.719);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#filler .container p{
    margin: auto;
    text-align: center;
    font-size: 1.75rem;
    font-family: var(--heading-fonts);
    margin: 1rem;
}

/* ==== Timeline LAYOUT ==== */

#timeline-section .container{
    background-image: url('/wp-content/themes/tandem-legends/assets/images/soft-wallpaper.png');
    background-blend-mode: color-burn;
    font-family: var(--article-fonts);
}

#timeline{
    margin: 0 auto;
    padding: 0 2rem;
    max-width: 1100px;

}

#timeline li {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#timeline ol, #timeline li{
    list-style: none;
    margin: 0;
    padding: 0;
}

#timeline .timeline-group{
    margin-bottom: 1rem;
}

.timeline-entries li a{
    height: 100%;
    width: 100%;
}

#timeline .timeline-group .timeline-entries li{
    height: 100px;
    width: 200px;
    background-color: var(--secondary-color);
    margin: 0.2rem;
    text-align: center;
}

.timeline-entries li{
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}

.timeline-entries li a{
    z-index: 200;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
} 

.timeline-entries li img{
    max-width:95%;
    max-height:90%;
}

#timeline .timeline-group .timeline-entries li span{
    position: absolute;
    z-index: 100;
    width: 100%;
    bottom: 0;
    left: 0;
    opacity: 0;
}

#timeline .timeline-group .timeline-entries a:hover{
    background-color: var(--hover-color);
    cursor: pointer;
}

#timeline .timeline-group .timeline-entries a:hover > span{
    background-color: rgba(128, 128, 128, 0.568);
    opacity: 1;
    transition: opacity 0.2s;
}

.slide-over{
    position: absolute;
}

.not-yet{
    opacity: 0.7;
    filter: grayscale(0.8);
}

#timeline .not-yet:hover{
    cursor: default;
    background-color: var(--hover-color);
}

#timeline li ol{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

#timeline li{
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

#timeline .timeline-entries a li{
    height: 200%; 
    top: 0;
    overflow: hidden;
}

#lozTV{
    position: absolute;
    top: 0;
    min-height: 200%;
    min-width: 150%;
}

.shiny-text{
    animation: emphasizeMe 2s infinite;
    text-shadow: 0px 0px 25px goldenrod, 0px 0px 20px rgb(223, 199, 68);
}

@keyframes emphasizeMe{
    0% {
        color: rgb(231, 247, 164);
    }
    50% {
        color: goldenrod;
    }
    100% {
        color: rgb(231, 247, 164);
    }
}


.playing-now{
    z-index: 100;
    position: relative;
    overflow: hidden;
    animation: pulse 3s infinite;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
}

.playing-now:after {
    
    animation: shine 3s ease-in-out infinite;
    animation-fill-mode: forwards;  
    content: "";
    position: absolute;
    top: -210%;
    left: -210%;
    width: 200%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: rgba(175, 218, 59, 0.13);
    background: linear-gradient(
        to right, 
        rgba(255, 255, 255, 0.13) 0%,
        rgba(255, 255, 255, 0.13) 77%,
        rgba(255, 255, 255, 0.774) 92%,
        rgba(255, 255, 255, 0.0) 100%
    );
}

.playing-now:active:after {
    opacity: 0;
}
  
@keyframes shine{
    10% {
        opacity: 1;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
        transition-duration: 0.7s, 0.7s, 0.15s;
        transition-timing-function: ease;
    }
    100% {
        opacity: 0;
        top: -30%;
        left: -30%;
        transition-property: left, top, opacity;
    }
}

@keyframes pulse{
    0% {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.288);
    }
    
    70% {
        box-shadow: 0 0 0 15px rgba(0, 0, 0, 0);
    }
    
    100% {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
    }
}


/* ==== Footer ==== */

footer{
    border-top: solid 1px goldenrod;
    padding: 1rem;
    text-align: center;
    background-color: var(--primary-color);
    background-image: url('/wp-content/themes/tandem-legends/assets/images/triforce-splat.png');
    background-position: center;
  }



.footer-menu{
    list-style: none;
    margin: 0;
    padding: 0;
}

.footer-menu li{
    display: inline-block;
    margin: .25rem;
    padding: 1rem;
}

.footer-menu li a{
    font-size: 1rem;
}

.copyright{
    font-size: 1rem;
}

.copyright a{
    font-size: 1rem;
}

/* Other Stuff */

.no-image{
    filter: blur(5px);
}



/* BLOG */


.page-header{
    padding: 1rem 0;
    border: none;
}

.page-title{
    margin: 0;
    text-align: left;
}

.page-title span{
    font-family: var(--heading-fonts);
}

.post{
    margin: 2rem 0 0 0;
    background: var(--primary-color);
    padding: 2rem;
    display: grid;
    column-gap: 1rem;
    grid-template-columns: 1fr 1.5fr;
    grid-template-rows: auto;
    backface-visibility: hidden;
}

.tags{
    color: white;
    font-size: 1.25rem;
    font-family: var(--article-fonts);
    width: 100%;
    margin: 2rem 0 0;
    color: goldenrod;
}

.tags h3{
    margin-bottom: 0;
}

.tags a{
    color: goldenrod;
}




/* .blog .post:hover{
    background-color:  rgb(38, 89, 122);
    transform: scale(1.008);
    transition: .2s ease-in-out;
    
} */

.blog .post:first-of-type{
    margin-top: 0;
}

.category .post:first-of-type{
    margin-top: 0;
}

.tag .post:first-of-type{
    margin-top: 0;
}

.blog .post:last-of-type{
    margin-bottom: 2rem;
}


.category .post:last-of-type{
    margin-bottom: 2rem;
}

.tag .post:last-of-type{
    margin-bottom: 2rem;
}


.home .episode-title{
    margin-top: 1rem;
}


.post .entry-title{
    display: block;
    font-size: 1.5rem;
    font-family: var(--heading-fonts);
    margin: 0 0 .2rem;
}

.post-thumbnail{
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: black;
    overflow: hidden;
    height: 275px;
}

.post-thumbnail img{
    object-fit: contain;
    height: 100%;
}




.post .entry-content{
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    margin: 0;
    padding: 1rem 1rem 0;
    display: flex;
    flex-direction: column;
    color: white;
    font-family: var(--article-fonts);
    line-height: 1.4;
}


.post .player_container{
    width: 100%;
    padding: 0;
    align-self: center;
    margin: 1rem 0;
    order: 99;
    border-radius: 0;
}

.sm2-main-controls{
    background-color: var(--secondary-color);
}

.single-post article .player_container{
    order: 0;
}

.post .player_container a, 
.post .player_container span,
.post .player_container p,
.post .player_container li,
.post .player_container button,
.post .player_container div{
    font-family: helvetica, arial, verdana;
}   

.sm2-bar-ui .bd, .sm2-bar-ui .sm2-extra-controls{
    background-color: var(--secondary-color);
}

.sm2-bar-ui .sm2-playlist ul li marquee{
    display: none;
}


.sppbuttons a{
    background-color: #356b35 !important;
}

.sppbuttons a:hover{
    background-color: #275227 !important;
}

.entry-footer{
    background: transparent;
    padding: .8rem 0 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .75rem; 
    grid-column: 1 / 3;
    grid-row: 4 / 5;
}

.single-post .post-navigation{
    border: none;
    margin: 0;
}

.blog-excerpt{
    padding: 1rem;
    
}


.posts-navigation{
    background: none;
    border: none;
    margin: 0;
    padding: 0 3rem;
}

.entry-header{
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

/*  single post */



.single-post article{
    margin: 0;  
    padding: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    background: transparent;
   
}

.single-post .entry-title{
    font-size: 2.2rem;
    margin: 1rem 0 0 0;
}


.single-post .entry-header{
    padding: 0;
    margin: 0;
}

.single-post .post-thumbnail{
    width: 800px;
    height: auto;
    margin: auto;
}

.single-post section{
    background: none;
}

.single-post .post-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.single-post article > * {
    margin: 1rem 0;
    line-height: 1.75;
}

.blog-text{
    margin: 1rem 0;
    text-align: left;
}

.post-twitter{
    display: flex;
    justify-content: center;
}

.post-navigation{
    padding: 0 2rem;
}

.crp_related{
    order: 99;
}


/* Categories */


.error-404 .page-content{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}


.error-404 .page-header .page-title{
    text-align: center;
}


/* social/podcast icons */



.joe-twitter{

    background-image: url('/wp-content/themes/tandem-legends/assets/images/podcast-social/twitter_64.png');

}

.joe-rss{
    background-image: url('/wp-content/themes/tandem-legends/assets/images/podcast-social/rss_64.png');
}

.joe-apple{
    background-image: url('/wp-content/themes/tandem-legends/assets/images/podcast-social/apple_64.png');
}

.joe-google{
    background-image: url('/wp-content/themes/tandem-legends/assets/images/podcast-social/google_64.png');
}

.joe-stitcher{
    background-image: url('/wp-content/themes/tandem-legends/assets/images/podcast-social/stitcher_64.png');
}



/* media queries */

@media screen and (max-width: 1300px) {

    .banner{
        flex-direction: column;
    }

    .logo-container{
        width: 80vw;
    }

    .subscribe-here-container{
        width: 80vw;
        flex-direction: row; 
    }

    .subscribe-here-platform{
        margin: 0.25rem;
    }

    .hero-image{
        width: 65%;
        height: auto;
    }

    #hero-section .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-bottom: 2rem;
    }

    .hide-when-small{
        display: none;
    }

    .page-title{
        text-align: center;
    }

    #primary{
        width: 100%;
    }

    .post{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
        margin-right: 0;
    }



    .episode-desc{
        padding: 1rem 0;
    }



    .entry-footer{
        width: 100%;
        padding: .4rem;
    }

    .entry-header{
        text-align: left;
        padding: 1rem;
        font-size: 1rem;
    }

    .entry-content{
        padding: .4rem;
        font-size: 1.5rem;
    }

    #container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 5rem;
    }

    #secondary{
        width: 100%;
        margin: 0;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .post-thumbnail{
        height: 500px;
    }
    
    .post-thumbnail img{
        object-fit: contain;
        height: 100%;
    }
    
}

@media screen and (max-width: 990px) {
    .banner{
        padding: 1rem;
    }

    .subscribe-here-container{
        display: none;
    }

    .link-nav{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin: auto;
    }

    
    .hero-image{
        width: 80%;
        height: auto;
    }

    section{
        padding: 0.75rem 4vw;
    }

    .section-title{
        font-size: 1.7rem;
    }


    #overview-section p, #filler p{
        font-size: 1.5rem;
    }

    
    #container{
        padding: 0;
    }

    .single-post article{
        width: 100vw;
        padding: .2rem;
    }


}

@media screen and (max-width: 782px) {
    .logged-in > .site > header > .fixed-top{
        top: 46px;
    }

    .single-post .post-thumbnail{
        width: 100%;
        height: auto;
        margin: auto;
    }
    
    .hero-image{
        width: 100%;
        height: auto;
    }

    .episode-title{
        font-size: 1rem;
    }

    #overview-section p{
        font-size: 1.2rem;
        padding: .2rem;
    }

    .logo{
        display: block;
    }


}

@media screen and (max-width: 600px) {

    #wpadminbar{
        position: fixed;
    }

    .page-header .page-title{
        text-align: center;
    }

    .post{
        margin: 1rem 0;
    }


    .single-post .entry-content{
        font-size: 1.2rem;
        text-align: left;
    }

    .post-thumbnail{
        width: 100%;
        height: auto;
    }
    
    .hero-image{
        width: 100%;
        height: auto;
    }

    .entry-header .entry-title {
        font-size: 1.2rem;
    }

    .episode-desc{
        font-size: 1rem;
        text-align: left;
    }

    .entry-meta{
        font-size: .8rem;
    }

    .carousel li{
        height: 155px;
        width: 155px;
    }    

    .logo-container{
        width: 100%;
    }

    .logo{
        display: none;
    }

    .logo-small{
        display: block;
        width:100%;
        padding: 3rem;
    }

    .banner{
        padding: 0;
    }

}


@media screen and (max-width: 400px) {

    .logo-small{
        display: block;
        width:100%;
        padding: 2rem 1.5rem;
    }

}